.card {
  border: 1px solid var(--color-separator);
  border-radius: var(--form-border-radius);
  max-width: 100%;
  position: relative;

  header {
    border-bottom: 1px solid var(--color-separator);
    padding: 1rem 2rem;

    h1, h2 { margin: 0; }
  }
  &.dense header {
    padding: 0.5rem 1rem;
  }

  .card-content {
    padding: 1rem 2rem;
  }
  &.dense .card-content {
    line-height: 1.25;
    padding: 0.5rem 1rem;
  }

  footer {
    border-top: 1px solid var(--color-separator);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  &.dense footer {
    padding: 1rem 2rem;
  }
}


