.card {
  --color-card-border: var(--color-separator);

  border: 1px solid var(--color-card-border);
  border-radius: var(--form-border-radius);
  max-width: 100%;
  position: relative;
}

.card header {
  border-bottom: 1px solid var(--color-card-border);
  padding: 1rem 2rem;
}

.card header h1 { margin: 0; }

.card-content {
  padding: 1rem 2rem;
}

.card footer {
  border-top: 1px solid var(--color-card-border);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
