.layout > header {
  grid-area: header;
}

.layout > .menu {
  border-right: 1px solid var(--color-separator);
  grid-area: menu;
}
.layout > .menu > ul {
  margin-right: -1px;
}

.layout > main {
  grid-area: content;
  padding: 1rem;
}


.layout > footer {
  grid-area: footer;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "content"
    "footer";
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .layout {
    grid-template-areas:
      "menu header"
      "menu content"
      "menu footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
