.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  & > header {
    background: var(--color-background);
    border-bottom: 1px solid var(--color-separator);
    display: flex;
    left: 0;
    margin: 0;
    height: 6rem;
    padding: 0 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    .brand {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: row;
    }
    .brand img {
      margin-right: 0.5rem;
    }

    .search {
      flex: 1;
      justify-content: flex-end;
    }

    nav {
      display: flex;
    }
  }


  & > main {
    flex: 1;
    margin: 0 auto;
    padding: 6rem 0 0;
    width: 100%;
    z-index: 1;
  }

  .sidebar {
  }

  .main-content {
    //box-shadow: -2px 0 5px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    z-index: 2;
  }

  & > footer {
    border-top: 1px solid var(--color-separator);
    margin-bottom: 60px;
  }
}


/* Main navigation */
nav[aria-label="main navigation"] {
  align-items: stretch;
  align-self: stretch;
  background: var(--color-background);
  border-top: 1px solid var(--color-separator);
  bottom: 0;
  height: 60px;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;

  a {
    align-items: center;
    border-top: 2px solid transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: -1px 0 0;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &.is-active {
      border-color: var(--color-primary);
    }

    &.is-active::after {
      background: var(--color-primary);
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.25;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  .icon {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
  }

  .label {
    font-size: 10px;
    margin-top: 2px;
  }
}


@media screen and (min-width: 768px) {
  .layout {
    & > header {
      .brand {
        flex: 100px 0 1;
      }
      .search {
      }

    }

    & > main {
    }

    & > footer {
      margin-bottom: 0;
    }
  }


  nav[aria-label="main navigation"] {
    border: 0 transparent;
    flex: 0 1;
    height: auto;
    position: relative;

    a {
      align-items: center;
      border-width: 0;
      border-bottom: 2px solid transparent;
      display: flex;
      padding: 0 1rem 1px 1rem;
      margin: 0 0 -1px;
    }
    a:hover {
      text-decoration: none;
    }

    .icon {
      display: none;
    }

    .label {
      font-size: inherit;
    }

  }
}
