.sidebar {
  background: var(--color-separator);
  border-right: 1px solid var(--color-separator);
  bottom: 0;
  display: flex;
  flex-direction: column;
  grid-area: menu;
  left: calc(var(--sidebar-width) * -1);
  position: fixed;
  transition: left ease-in-out var(--transition-time);
  top: 0;
  width: var(--sidebar-width);
  z-index: 10;
}
.sidebar section {
  padding: 1rem;
}
.sidebar .menu {
  border-bottom: 1px solid var(--color-separator);
  border-top: 1px solid var(--color-separator);
  flex: 1;
  padding: 1rem 0;
}


.layout {
  min-height: 100vh;
}

.layout > header,
.layout > main,
.layout > footer {
  transition: margin-left ease-in-out var(--transition-time);
  width: 100%;
}

.layout > header {
}


.layout > main {
  padding: 1rem;
}


.layout > footer {
}


.layout.has-sidebar > header,
.layout.has-sidebar > main,
.layout.has-sidebar > footer {
  margin-left: var(--sidebar-width);
}
.layout.has-sidebar .sidebar {
  left: 0;
}

@media screen and (min-width: 768px) {
  .layout {
    transition: padding-left ease-in-out var(--transition-time);
  }
  .layout > header,
  .layout > main,
  .layout > footer {
    width: auto;
  }
  .layout.has-sidebar {
    padding-left: var(--sidebar-width);
  }
  .layout.has-sidebar > header,
  .layout.has-sidebar > main,
  .layout.has-sidebar > footer {
    margin-left: 0;
    width: auto;
  }
}
