/* Primary navigation bar */
.navbar {
  align-items: stretch;
  display: flex;
  min-height: 6rem;
  margin: auto 1rem;
}

.navbar a {
  align-items: center;
  color: var(--color-text);
  display: flex;
  margin: auto 0.5rem;
}
.navbar a:hover {
  text-decoration: none;
}

.navbar img {
  max-height: 3rem;
}

.navbar .is-center,
.navbar .is-left,
.navbar .is-right {
  flex: 1;
}


/* Secondary navigation */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul ul {
  font-size: 80%;
  margin-left: 2rem;
}

.menu a {
  border-left: 4px solid transparent;
  color: var(--color-tertiary);
  display: block;
  padding: 0.5rem 1rem;
}
.menu a:hover {
  color: var(--color-text);
  opacity: 1;
  text-decoration: none;
}

.menu a.is-active {
  border-color: var(--color-primary);
  color: var(--color-text);
}
.menu ul ul a.is-active {
  border-color: transparent;
}

.nav-inline li {
  display: inline-block;
}
