.navbar {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  min-height: 6rem;
  margin: auto 1rem;
}

.navbar-section {
  align-items: center;
  display: flex;
}

.navbar a {
  align-items: center;
  color: var(--color-text);
  display: flex;
  margin: auto 0.5rem;
}
.navbar a:hover {
  text-decoration: none;
}

.navbar img {
  max-height: 3rem;
}

.navbar .is-center,
.navbar .is-left,
.navbar .is-right {
  flex: 1;
}


.nav-inline li {
  display: inline-block;
}


/* Breadcrumbs */
nav[aria-label="Breadcrumb"] {
  ol {
    list-style: none;
    margin: 0;
  }

  li { display: inline; }

  li + li::before {
    border-right: 1px solid currentColor;
    content: '';
    display: inline-block;
    height: 1rem;
    margin: 0 0.5rem;
    transform: rotate(15deg);
  }

  a[aria-current="page"] {
    color: var(--color-text);
  }

  & + h1 {
    margin-top: 0;
  }
}
