* {
  box-sizing: border-box;
}


html { font-size: 62.5%; }

body {
  letter-spacing: 0.01rem;
  line-height: 1.4;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}


h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-alt);
  font-weight: 500;
  margin: 0.35rem 0 0.7rem 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child { margin-bottom: 0; }

h1, .h1 { font-size: calc(var(--font-size) * 2); }
h2, .h2 { font-size: calc(var(--font-size) * 1.5); }
h3, .h3 { font-size: calc(var(--font-size) * 1.25); }
h4, .h4 { font-size: calc(var(--font-size) * 1.1); }
h5, .h5 { font-size: var(--font-size); }
h6, .h6 { font-size: calc(var(--font-size) * 0.8); text-transform: uppercase; }


a {
  color: var(--color-link);
  text-decoration: none;
}
a.user { font-weight: var(--font-weight-bold); }

a:hover:not(.button) {
  cursor: pointer;
  opacity: 0.6;
  text-decoration: underline;
}


figure { margin: 0; }

img { max-width: 100%; }


hr { border-color: var(--color-separator); }


table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
thead {
  border-bottom: 2px solid var(--color-separator);
}
tfoot {
  border-top: 2px solid var(--color-separator);
}
tr:not(:last-child) {
  border-bottom: 1px solid var(--color-separator);
}
td, th {
  vertical-align: middle;
}


ol, ul { padding-left: 0; }


.markdown p { margin: 0; }
.markdown p + p { margin-top: 1rem; }
.markdown a { color: var(--color-blue); }
