.card {
  background: var(--color-background-alt);
  border: 1px solid var(--color-separator);
  border-radius: var(--form-border-radius);
  max-width: 100%;
  position: relative;

  header {
    align-items: center;
    border-bottom: 1px solid var(--color-separator);
    display: flex;
    justify-content: space-between;
    padding: var(--padding);

    h1, h2 { margin: 0; }

    small {
      color: var(--color-tertiary);
    }

    nav a + a {
      margin-left: 10px;
    }
  }
  &.dense header {
    padding: var(--padding-dense);
  }

  .card-content {
    padding: var(--padding);
  }
  &.dense .card-content {
    line-height: 1.25;
    padding: var(--padding);
  }

  footer {
    border-top: 1px solid var(--color-separator);
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
  }
  &.dense footer {
    padding: var(--padding);
  }
}


