label {

}

input,
select,
textarea {
  background: var(--color-input-background);
  border: 1px solid var(--color-separator);
  border-radius: var(--form-border-radius);
  color: var(--color-input-text);
  padding: 1rem;
  transition: border var(--transition-time) ease;
  width: 100%;
}

input:hover,
select:hover,
textarea:hover {
  border-color: var(--color-tertiary);
}

input::placeholder {
  color: var(--color-tertiary);
}


.field {
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.field.has-error {
  color: var(--color-deep-orange);
}

.control {
  clear: both;
  position: relative;
}

.has-icon-left .icon {
  color: var(--color-input-text);
  left: 1rem;
  margin: 1px;
  pointer-events: none;
  position: absolute;
  top: 1rem;
}
.has-icon-left input,
.has-icon-left select {
  padding-left: 3.5rem;
}
.has-icon-left input:focus + .icon { color: var(--color-text); }


.help {
  font-size: 0.85em;
  margin-top: 0.25rem;
}


/* Button */
.button,
[type="button"],
button {
  background: transparent;
  border: 1px solid var(--color-text);
  border-radius: var(--form-border-radius);
  color: var(--color-text);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 1rem;
  text-align: center;
  transform: scale(1);
  transition: opacity var(--transition-time) ease;
}

[type=button][disabled],
button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.button:not(span):hover,
[type="button"]:not([disabled]):hover,
button:not(disabled):hover {
  opacity: 0.8;
}

span.button {
  cursor: default;
  opacity: 0.5;
}

.button:active,
[type="button"]:active,
button:active {
  transform: scale(0.98);
}

.button.is-icon {
  border-radius: 50%;
  height: 4rem;
  padding: 0;
  width: 4rem;
}

.button.is-primary {
  background: var(--color-primary);
  border-color: transparent;
  color: var(--color-text);
}
button.is-clear,
.button.is-clear {
  background: transparent;
  border-color: transparent;
  color: var(--color-primary);
}
.button.is-full {
  width: 100%;
}
.button.is-small {
  padding: 0.5rem;
}
.button.is-tiny {
  font-size: 75%;
  padding: 0.25rem;
}


/* Button group */
.button-group {
  display: flex;
  margin: auto 0.5rem;
}

.button-group .button,
.button-group [type="button"],
.button-group button {
  margin: 0;
}

.button-group :not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}

.button-group :not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.button-group .is-active {
  z-index: 1;
}


/* Facebook */
.button.fb {
  background-color: #3b66a0;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
}

/* FilePond */
.upload .filepond--root {
  font-family: inherit;
}
.upload .filepond--panel-root {
  background-color: var(--color-input-background);
  border: 1px solid var(--color-separator);
  border-radius: var(--form-border-radius);
  font-size: inherit;
}

.upload .filepond--panel-top:after,
.upload .filepond--panel-bottom:before {
  height: 0;
}

.upload .filepond--drop-label {
  color: var(--color-input-text);
}
