.sidebar {
  background: var(--color-separator);
  margin: 0;
  padding: 1rem 0;

  h2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    margin: 0;
  }

  h3 {
    border-bottom: 1px solid var(--color-separator);
    margin: 0 0 0 1rem;
    padding: 0 1rem 0 0;
  }

  h4 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0 0 var(--grid-gutter);
  }

  a {
    display: block;
    padding: 0.5rem 1rem;

    &[href]:hover {
      background: var(--color-separator);
      text-decoration: none;
    }

    &.is-active-exact {
      background: var(--color-background);
      border-left: 3px solid var(--color-primary);
      position: relative;
      z-index: 3;
    }
  }

  .collapsible {
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

}

@media screen and (max-width: 479px) {
  .sidebar .collapsed .collapsible {
    max-height: 0;
  }
}
