.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs a {
  border-bottom: 2px solid var(--color-separator);
  color: var(--color-text);
  flex: 0 1 auto;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
}

.tabs a.is-active,
.tabs a:hover {
  border-bottom-color: var(--color-primary);
  color: var(--color-primary);
  opacity: 1;
  text-decoration: none;
}

.tabs.is-small a { padding: 0.5rem 1rem; }
.tabs.is-full a  { flex: 1; }
