.is-text-left { text-align: left; }
.is-text-center { text-align: center; }
.is-text-right { text-align: right; }

.is-left {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.is-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.is-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.is-horizontal-center {
  display: flex;
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
  display: flex;
}

.pull-left { float: left; }
.pull-right { float: right; }


.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media screen and (max-width: 479px) {
  .hide-phone,
  .show-tablet,
  .show-computer { display: none !important; }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hide-tablet,
  .show-computer,
  .show-phone { display: none !important; }
}

@media screen and (min-width: 768px) {
  .hide-computer,
  .show-phone,
  .show-tablet{ display: none !important; }
}
