// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

// Transitions
.page
  @extend .fade-transition

.transitioned
  backface-visibility: hidden

.slide-left-leave-active, .slide-right-leave-active
  position: absolute

  .list__tile__action
    opacity: 0

.slide-left-enter-active, .slide-left-leave-active,
.slide-right-enter-active, .slide-right-leave-active
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1) !important

.slide-left-enter, .slide-right-leave-to
  opacity: 0
  transform: translateX(30px)

.slide-left-leave-to, .slide-right-enter
  opacity: 0
  transform: translateX(-30px)


// Custom
a, a.btn:hover, a.list__tile:hover
  text-decoration: none
a:hover
  text-decoration: underline

footer.footer
  position: relative

.list__tile--active
  border-right: 3px solid $material-theme.primary

.markdown
  a
    text-decoration: underline

.separator
  display: block
  font-variant: small-caps
  overflow: hidden
  text-align: center

  &:after, &:before
    background-color: $material-dark.dividers
    content: ''
    display: inline-block
    height: 1px
    position: relative
    vertical-align: middle
    width: 50%

  &:after
    margin-right: -50%
    left: 0.5em

  &:before
    margin-left: -50%
    right: 0.5em

.spread
  justify-content: space-between

.subheader--background
  .theme--dark &
    background-color: $colors.grey.darken-3
  .theme--light &
    background-color: $colors.grey.lighten-3

.text--tertiary
  .theme--dark &
    color: $colors.grey.darken-1 !important
  .theme--light &
    color: $colors.grey.lighten-1 !important
