// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition


// Custom
a, a.btn:hover, a.list__tile:hover
  text-decoration: none
a:hover
  text-decoration: underline

.markdown
  a
    text-decoration: underline

.separator
  display: block
  font-variant: small-caps
  overflow: hidden
  text-align: center

  &:after, &:before
    background-color: $material-dark.dividers
    content: ''
    display: inline-block
    height: 1px
    position: relative
    vertical-align: middle
    width: 50%

  &:after
    margin-right: -50%
    left: 0.5em

  &:before
    margin-left: -50%
    right: 0.5em
