{
  "env": { "es6": true, "node": true },
  "extends": ["eslint:recommended", "plugin:promise/recommended"],
  "parserOptions": {
    "ecmaFeatures": { "experimentalObjectRestSpread": true },
    "ecmaVersion": 8
  },
  "plugins": ["promise"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": ["warn"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
